fastapi
uvicorn
pydantic
python-multipart
sentence-transformers
qdrant-client>=1.12.0
PyPDF2
requests
numpy
faster-whisper
sqlalchemy
psycopg2
python-jose[cryptography]
pydantic[email]
passlib
bcrypt<4.0.0